.main {
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: 0px;
}
.container {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    width: 80vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 5vw;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}
.heading {
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
}
.sub-heading {
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}
