<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.5" />

        <title>CoC Bot</title>
        <style>
            * {
                --primary-color: #a8a8a8;
            }
            #main {
                display: flex;
                flex-direction: column;
                background-color: var(--primary-color);
                width: 100%;
            }
            .hide {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="main">
            <div id="curr">
                <div id="curr__waiting">Waiting For Players....</div>
                <div id="curr__noPlayers">Players:10</div>
                <div id="curr__mode"></div>
                <div id="curr__players"></div>
            </div>
            <div id="prev"></div>
        </div>

        <template id="playerInfoTemp">
            <div class="playerInfo">
                <img id="langImg" src="" height="30px" />
                <span id="playerName">Player Name</span>
                <span id="time">08:55</span>
                <span id="chars">112</span>
            </div>
        </template>

        <script>
            const chName = window.location.pathname.split("/").slice(-1)[0];
            const main = document.querySelector("#main"),
                waiting = document.querySelector("#curr__waiting"),
                currMode = document.querySelector("#curr__mode"),
                currNosPlayers = document.querySelector("#curr__noPlayers"),
                currPlayers = document.querySelector("#curr__players"),
                prev = document.querySelector("#prev");

            const playerInfoTemp = document.querySelector("#playerInfoTemp");

            //TODO: Add langId and langImg
            const languageToImg = { python: "50908004333321" };

            window.onload = () => {
                getReport();
            };

            function createPlayer(playerName, time, chars, langId) {
                const pInfo = playerInfoTemp.content.cloneNode(true);
                pInfo.querySelector("#playerName").textContent = playerName;
                const sec = time / 1000;
                pInfo.querySelector("#time").textContent = `${Math.floor(
                    sec / 60
                )}:${Math.floor(sec % 60)}`;
                pInfo.querySelector("#chars").textContent = chars;
                pInfo.querySelector("#langImg").src = "";
                pInfo.querySelector("#langImg").alt = langId;
                return pInfo;
            }

            function getReport() {
                let isOK = true;
                fetch(`/api/${chName}`)
                    .then((data) => data.json())
                    .then((data) => {
                        console.log(data);
                        if (data.status === 404) {
                            isOK = false;
                            //currMode.innerHTML = "NOT FOUND!!!";
                            return;
                        }

                        if (data.started) {
                            if (!waiting.classList.contains("hide"))
                                waiting.classList.add("hide");

                            if (currMode.innerHTML === "")
                                currMode.innerHTML = data.mode;

                            const completed = data.players.filter(
                                (player) => player.finished
                            );
                            completed.sort((a, b) => a.rank - b.rank);
                            console.log("Completed Players ", completed);
                            if (completed.length > 0) {
                                currPlayers.innerHTML = "";
                                for (
                                    let i = 0;
                                    i < 2 && i < completed.length;
                                    i++
                                ) {
                                    const pinfo = createPlayer(
                                        completed[i].name,
                                        completed[i].duration,
                                        "",
                                        completed[i].language
                                    );
                                    currPlayers.appendChild(pinfo);
                                }
                            } else {
                                currPlayers.innerHTML = "Clashing....";
                            }
                        } else {
                            if (waiting.classList.contains("hide"))
                                waiting.classList.remove("hide");

                            if (currMode.innerHTML !== "")
                                currMode.innerHTML = "";

                            if (currPlayers.innerHTML !== "") {
                                if (currPlayers.firstElementChild) {
                                    let prevs = window.localStorage.getItem(
                                        "prev"
                                    );
                                    prevs +=
                                        currPlayers.firstElementChild.innerHTML;
                                    prev.innerHTML = prevs;
                                    window.localStorage.setItem("prev", prevs);
                                }
                                currPlayers.innerHTML = "";
                            }
                        }

                        currNosPlayers.innerHTML = "Players: " + data.noPlayers;
                    });
                if (isOK) {
                    setTimeout(() => {
                        getReport();
                    }, 8000);
                }
            }
        </script>
    </body>
</html>
